.env
# Created by https://www.toptal.com/developers/gitignore/api/go
# Edit at https://www.toptal.com/developers/gitignore?templates=go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
tmp
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work